.h1{
    text-align: center;
}
.p1{
    font-style: italic;
}
.p2{
    font-style: italic;
}
.p3{
    font-style: italic;
}
.p4{
    font-style: italic;
}
.p5{
    font-style: italic;
}
.p6{
    font-style: italic;
}
.p7{
    font-style: italic;
}
.p8{
    font-style: italic;
}
.p9{
    font-style: italic;
}
.p10{
    font-style: italic;
}
.p11{
    font-style: italic;
}
.p12{
    font-style: italic;
}
.p13{
    font-style: italic;
}
.p14{
    font-style: italic;
}
.h5{
    text-align: center;
}
body{
    background-color: #f1f3a2
    
    text-align: center;
    
}